{% extends "base.html" %}
{% block title %}{{ event.name }}{% endblock title %}
{% block content %}
<div class="event-detail-wrapper">
    <div class='self-flex-start w-100'>
        <a href='/events' class='no-link-behavior'><p> &larr; Back </p></a>
    </div>
    <div class="flex-col align-center text-center w-100">
        <h1 class="club-page-name">{{event.name}}</h1>
    </div>
    <div class="club-body">
        <p><span class='text-bold'> When? </span> {{event.date}}</p>
        <p><span class='text-bold'> Where? </span> {{event.location}}</p>
        <p><span class='text-bold'> What? </span> {{event.description}}</p>
    </div>
    {% comment %} <h3>{{ event.name }}</h3> {% endcomment %}
</div>
{% endblock %}