<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Fallback title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'acmsite/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'acmsite/favicon.png' %}"/>
  </head>
  <nav class="flex-row justify-between mx-1 align-center">
      <div>
        <h2 class="text-very-bold text-lg"><span class="text-orange">AUBURN</span><span class="text-blue"> ACM</span></h2>
      </div>
      <div>
        <ul class="flex-row gap-1 list-style-none font-secondary text-semibold text-md">
          <li><a class="text-dark-blue" href="">Home</a></li>
          <li><a class="text-dark-blue" href="">Clubs</a></li>
          <li><a class="text-dark-blue" href="">Events</a></li>
          <li><a class="text-dark-blue" href="">Calendar</a></li>
        </ul>
      <div>

  </nav>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
