<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Fallback title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'acmsite/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="shortcut icon" type="image/png" href="{% static 'acmsite/favicon.png' %}"/>
  </head>
  
  <body>
    <nav class="flex-row w-100 align-center fixed top-0 left-0 justify-between px-1 bg-default z-1">
      <div>
        <h2 class="text-very-bold text-2xl px-1">
          <span class="text-orange">AUBURN</span>
          <span class="text-blue"> ACM</span>
        </h2>
      </div>
      <div>
        <ul class="flex-row gap-1 list-style-none font-secondary text-semibold text-lg">
          <li><a class="text-dark-blue" href="">Home</a></li>
          <li><a class="text-dark-blue" href="">Clubs</a></li>
          <li><a class="text-dark-blue" href="">Events</a></li>
          <li><a class="text-dark-blue" href="">Calendar</a></li>
        </ul>
      <div>
    </nav>
    <div class="sidebar">
      <div class="sidebar-button">
        <img src="{% static 'acmsite/discord.svg' %}" alt="discord" />
      </div>
    </div>
    {% comment %} TODO figure out semantic HTML tag for this {% endcomment %}
    <div class="mt-5">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
