{% extends "./base.html" %}
{% block title %}Auburn ACM{% endblock %}

{% block content %}
    <div class="flex-row">
        <div class="w-50">
            <h1 class="text-very-bold text-dark-blue w-min-content text-3xl mx-1" id="big-auacm">AUBURN ACM</h1>
            <p class="mx-1">The Association for Computing Machinery (ACM) is a global scientific and educational organization dedicated to advancing the art, science, engineering, and application of computing, serving both professional and public interests by fostering the open exchange of information and by promoting the highest professional and ethical standards.</p>
        </div>
        <div class="w-50 flex-row align-center justify-center">
            <div id="video-holder"></div>
        </div>
            
    </div>
    <h1 class="mx-auto text-center text-dark-blue">ABOUT</h1>
    <h1 class="mx-auto text-center text-dark-blue">CLUBS</h1>

    <h1 class="mx-auto text-center text-dark-blue">FEATURED EVENTS</h1>
    {% comment %} Makes list of events, will format later {% endcomment %}
    {% if event_list %}
    <div>
        {% for event in event_list %}
        <h3><a href="{% url 'detail' event.id %}">{{ event.name }}</a></h3>
        {% endfor %}
    </div>
    {% else %}
    <p>No events found</p>
    {% endif %}
    
    <h1 class="mx-auto text-center text-dark-blue">OFFICERS</h1>
{% endblock %}