:root {
    --au-orange: #BC490B;
    --au-dark-blue: #032045;
    --au-light-blue: #354D6A;
    --au-bg: #EDF1F5;
    --font-primary: "roboto", sans-serif;
    --font-secondary: "inter", serif;
    font-family: var(--font-primary);
    background-color: var(--au-bg);
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* DISPLAY */
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* FONTS */
.font-primary{
    font-family: var(--font-primary);
}
.font-secondary {
    font-family: var(--font-secondary)
}
.text-very-bold {
    font-weight: 900;
}
.text-bold {
    font-weight: 800;
}
.text-semibold {
    font-weight: 600;
}
.text-normal {
    font-weight: 500;
}
.text-thin {
    font-weight: 400;
}

/* TEXT SIZE */
.text-sm {
    font-size: 0.875rem;
}
.text-base {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-xl {
    font-size: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-3xl {
    font-size: 1.875rem;
}
.text-4xl {
    font-size: 2.25rem;
}

/* TEXT COLORS */
.text-orange {
    color: var(--au-orange);
}
.text-dark-blue {
    color: var(--au-dark-blue);
}
.text-light-blue {
    color: var(--au-light-blue);
} 
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/* BG COLORS */
.bg-default {
    background-color: var(--au-bg);
}
.bg-black {
    background-color: black;
}

/* FLEX CLASSES */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.flex-grow-1 {
    flex-grow: 1;
}
.gap-1{
    gap: 1rem;
}

/* POSITIONING CLASSES */
.top-0{
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}

/* MARGIN CLASSES */
.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.px-2{
    margin-left: 2rem;
    margin-right: 2rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-5{
    margin-top: 5rem;
}
.ml-1{
    margin-left: 1rem;
}

/* PADDING CLASSES */
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* LENGHT AND WIDTH */
.w-vw100{
    width: 100vw;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-min-content {
    width: min-content;
}
.w-max-content {
    width: max-content;
}

/* BORDER CLASSES */
.border-1{
    border: 1px solid black;
}
.border-bottom-1{
    border-bottom: 1px solid black;
}
.rounded-1{
    border-radius: 1rem;
}

/* MISC */
.list-style-none{
    list-style: none;
}
.z-1{
    z-index: 1;
}

/* INDIVIDUAL ELEMENTS */
.card {
    background-color: black;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10rem;
}
.card .card-image {
    padding: 0.5rem;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
}
.card img {
    width: 100%;
    height: 100%;
}
.card p {
    margin: 0;
    font-family: var(--font-secondary);
    color: var(--au-dark-blue);
}
.card:hover .card-image {
    padding: 0;
}
.card .card-bottom {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0 0 0.9rem 0.9rem;
}
.officer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20vmin;
    height: 20vmin;
    border-radius: 100%;
}
.officer p {
    line-height: 0.25rem;
}
.officer .officer-body {
    z-index: 0;
    text-align: center;
}
.officer .officer-body .officer-name {
    font-weight: 700;
    color: var(--au-dark-blue);
}
.officer .officer-body .officer-title {
    padding-top: 0.25rem;
    font-weight: 500;
    color: var(--au-orange);
}
.officer .officer-image {
    width: 100%;
    height: 100%;
    position: absolute;
}
.officer-image img {
    width: 100%;
    height: 100%;
}
.officer:hover .officer-image {
    background-color: var(--au-bg);
    opacity: 0.2;
    z-index: 0; 
}
.officer:hover .officer-body {
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 10rem;
    right: 0;
    z-index: 100;
}

#big-auacm {
    font-size: 7vw;
    line-height: 1em;
}
#video-holder {
    background-color: lightgray;
    border: 2px solid darkgray;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}
#video-holder::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    z-index: -1;
}