:root {
    font-family: "Roboto", sans-serif;
    background-color: #EDF1F5;
    --au-orange: #BC490B;
    --au-dark-blue: #032045;
    --au-light-blue: #354D6A;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* DISPLAY */
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* FONTS */
.font-primary{
    font-family: "roboto", sans-serif;
}
.font-secondary {
    font-family: "inter", sans-serif;
}
.text-very-bold {
    font-weight: 900;
}
.text-bold {
    font-weight: 800;
}
.text-semibold {
    font-weight: 600;
}
.text-normal {
    font-weight: 500;
}

/* TEXT SIZE */
.text-sm {
    font-size: 1rem;
}
.text-md {
    font-size: 1.2rem;
}
.text-lg {
    font-size: 1.75rem;
}

.text-3xl {
    font-size: 4rem;
}


/* TEXT COLORS */
.text-orange {
    color: var(--au-orange);
}
.text-dark-blue {
    color: var(--au-dark-blue);
}
.text-light-blue {
    color: var(--au-light-blue);
} 
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/* FLEX CLASSES */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.gap-1{
    gap: 1rem;
}

/* POSITIONING CLASSES */
.top-0{
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}

/* MARGIN CLASSES */
.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-10{
    margin-top: 10rem;
}
.ml-1{
    margin-left: 1rem;
}

/* PADDING CLASSES */
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* LENGHT AND WIDTH */
.w-vw100{
    width: 100vw;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-min-content {
    width: min-content;
}

/* BORDER CLASSES */
.border-1{
    border: 1px solid black;
}
.rounded-1{
    border-radius: 1rem;
}

/* MISC */
.list-style-none{
    list-style: none;
}

/* INDIVIDUAL ELEMENTS */
#big-auacm {
    font-size: 9vw;
    line-height: 1em;
}
#video-holder {
    background-color: lightgray;
    border: 2px solid darkgray;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}
#video-holder::after {
    content: "";
    /* display: block; */
    padding-bottom: 100%;
    z-index: -1;
}