<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Fallback title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'acmsite/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="shortcut icon" type="image/png" href="{% static 'acmsite/favicon.png' %}"/>
  </head>
  
  <body class='m-0'>
    <nav class="flex-row w-100 align-center fixed top-0 left-0 justify-between px-1 bg-default z-1">
      <div>
        <a href="/" class="no-link-behavior">
          <h2 id="acm-logo">
            <span class="text-orange">AUBURN</span>
            <span class="text-blue"> ACM</span>
          </h2>
        </a>
      </div>
      <div>
        <ul class="flex-row gap-2 list-style-none font-secondary text-semibold text-lg">
          <li><a class="text-dark-blue hover:fade-in-underline" href="/">Home</a></li>
          <li>
            <div id="clubs-dropdown-wrapper">
              <div class="text-dark-blue hover:fade-in-underline flex-row align-center justify-center gap-0.5">
                <span>Clubs</span>
                <img id="club-down-arrow" src="{% static 'acmsite/down_arrow.svg' %}" alt="dropdown" />
              </div>
              <div id="clubs-dropdown">
                <ul class="flex-col gap-1 list-style-none font-secondary text-semibold text-base p-0.5">
                  <li><a class="text-dark-blue hover:fade-in-underline" href="">Competitive Programming Team</a></li>
                  <li><a class="text-dark-blue hover:fade-in-underline" href="">Ethical Hacking Club</a></li>
                  <li><a class="text-dark-blue hover:fade-in-underline" href="">CS Makerspace</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a class="text-dark-blue hover:fade-in-underline" href="/events">Events</a></li>
          <li><a class="text-dark-blue hover:fade-in-underline" href="">Calendar</a></li>
        </ul>
      <div>
    </nav>
    <div class="sidebar">
      <div class="sidebar-button">
        <img src="{% static 'acmsite/discord.svg' %}" alt="discord" />
      </div>
      <div class="sidebar-button">
        <img src="{% static 'acmsite/groupme.svg' %}" alt="groupme" />
      </div>
      <div class="sidebar-button">
        <img src="{% static 'acmsite/instagram.svg' %}" alt="instagram" />
      </div>
      <div class="sidebar-button p-0.25">
        <img src="{% static 'acmsite/github.svg' %}" alt="github" />
      </div>
      <div class="sidebar-button">
        <img src="{% static 'acmsite/mail.svg' %}" alt="email" />
      </div>
    </div>
    {% comment %} TODO figure out semantic HTML tag for this {% endcomment %}
    <div class="mt-8">
      {% block content %} {% endblock %}
    </div>
    <footer class="bg-dark-blue w-100 py-2 mt-5 relative bottom-0">
      <div class="flex-row gap-2 align-center justify-center w-100">
        <div class="sidebar-button">
          <img src="{% static 'acmsite/discord.svg' %}" alt="discord" />
        </div>
        <div class="sidebar-button">
          <img src="{% static 'acmsite/groupme.svg' %}" alt="groupme" />
        </div>
        <div class="sidebar-button">
          <img src="{% static 'acmsite/instagram.svg' %}" alt="instagram" />
        </div>
        <div class="sidebar-button p-0.25">
          <img src="{% static 'acmsite/github.svg' %}" alt="github" />
        </div>
        <div class="sidebar-button">
          <img src="{% static 'acmsite/mail.svg' %}" alt="email" />
        </div>
      </div>
      <p class="font-secondary text-white text-center">Copyright @ ACM at Auburn University 2022</p>
    </footer>
  </body>
</html>
